@import "bootstrap@5.3.3-min.css";

/* - smooth scroll - */
* {
    scroll-behavior: smooth;
}



/* - Background - */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.3); /* filter */
    overflow-x: hidden; /* Prevents horizontal scrolling */
}
.background {
    position: fixed; /* ensures that the image remains static */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensure it's behind other content */
}



/* - Animated links - */
.hover-right {
    display: inline-block;
    text-decoration: none; /* Removes the underline from the link */
    transition: transform 0.3s ease; /* Animates the transformation */
}
.hover-right:hover {
    transform: translateX(5px);
}



/* - language changer - */
.content {
    display: none;
}
.content.active {
    display: block;
}
.nav-link.active img {
    border-bottom: 1px solid #333;
    background-color: rgba(248, 249, 250, var(1)) !important;
}
.nav-link.active.bg-body-secondary.border-bottom-0 {
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}



/* - footer - */
.footer {
    background-color: rgb(248, 249, 250);
}

