@import "bootstrap@5.3.3-min.css";



/* - smooth scroll - */
* {
    scroll-behavior: smooth;
}



/* - Background - */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.3); /* filter */
    /* overflow-x: hidden; /* Prevents horizontal scrolling but hides Scrollup buton*/
}
.background {
    position: fixed; /* ensures that the image remains static */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensure it's behind other content */
}



/* - Animated links - */
.hover-right {
    display: inline-block;
    text-decoration: none; /* Removes the underline from the link */
    transition: transform 0.3s ease; /* Animates the transformation */
}
.hover-right:hover {
    transform: translateX(5px);
}



/* - language changer - */
.content {
    display: none;
}
.content.active {
    display: block;
}
.nav-link.active img {
    border-bottom: 1px solid #333;
    background-color: rgba(248, 249, 250, var(1)) !important;
}
.nav-link.active.bg-body-secondary.border-bottom-0 {
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}



/* - footer - */
.footer {
    background-color: rgb(248, 249, 250);
}



/* Button for Scrolling up */
#myBtn {
    visibility: hidden;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: #f8f9fa;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(20px) scale(0.8);
    transition: opacity 0.4s, transform 0.4s;
    width: 56px;
}

#myBtn.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0) scale(1);
    animation: bounceIn 0.5s;
}

#myBtn.hide {
    animation: bounceOut 0.5s;
    opacity: 0;
    transform: translateY(20px) scale(0.8);
}

#myBtn:hover {
    /* background-color: #dee2e6; */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#myBtn:hover svg {
    transform: translateY(-5px);
}

#myBtn svg {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

@keyframes bounceIn {
    0% {
        transform: translateY(50px) scale(0.5);
        opacity: 0;
    }
    60% {
        transform: translateY(-10px) scale(1.1);
        opacity: 1;
    }
    80% {
        transform: translateY(5px) scale(0.9);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}

@keyframes bounceOut {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    20% {
        transform: translateY(-10px) scale(1.1);
    }
    100% {
        transform: translateY(50px) scale(0.5);
        opacity: 0;
    }
}

/* Media query for smaller screen sizes */
@media (max-width: 600px) {
    #myBtn {
        padding: 10px;
        width: 46px;
        bottom: 15px;
        right: 15px;
    }

    #myBtn svg {
        width: 18px;
        height: 18px;
    }
}
